@import "material-colors";

// Monochrome -----------------------------------
@mono-1: @grey-300; // default text
@mono-2: @grey-500;
@mono-3: @grey-700;

// Colors -----------------------------------
@color-red:         @red-300;
@color-red-2:       @red-400;
@color-deep-purple: @deep-purple-300;
@color-blue:        @blue-300;
@color-cyan:        @cyan-300;
@color-light-green: @light-green-300;
@color-amber:       @amber-300;
@color-orange:      @orange-300;

// Base colors -----------------------------------
@syntax-fg:     @grey-300;
@syntax-bg:     @grey-900;
@syntax-gutter: @grey-500;
@syntax-guide:  fade(@syntax-fg, 15%);
@syntax-accent: @teal-500;
